@use "variables" as *;

@keyframes blend {
    0% {
        color: $white;
    }

    100% {
        color: $green;
    }
}

@keyframes bounce {
    50% {
        transform: translateX(15%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        content: "e.g. "
    }
    5% {
        
    }
    10% {

    }
    15% {

    }
    20% {
        
    }
    25% {

    }
    30% {

    }
    35% {

    }
    40% {

    }
    45% {

    }
    50% {

    }
    55% {

    }
    60% {

    }
    65% {

    }
    70% {

    }
    75% {

    }
    80% {

    }
    85% {

    }
    90% {

    }
    95% {

    }
    100% {

    }
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(.005) scaleX(0);
    }

    50% {
        transform: scaleY(.005) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes move {
    0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-300%);
        }
}

.underlineTransition {
    display: inline-block;
    position: relative;
    color: $blue;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $blue;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

