@use "variables" as *;

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-image: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

ul {
    list-style-type: none;
}
