nav {
    .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        .navBars {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 35%;
            .navSearchBar {
                width: calc((100%/2) - 15px);
                form {
                    width: 100%;
                    display: flex;
                    padding: 0 10px;
                    input {
                        padding: 7px;
                        width: 100%;
                    }
                }
            }
            .navDropDownFilter {
                display: flex;
                align-items: center;
                width: calc((100%/2) - 15px);
                label {
                    padding: 0 5px;
                }
                select {
                    width: 100%;
                    padding: 7px;
                }
            }
            #or {
                margin: 0 5px;
            }
        }
        h3 {
            transition: all 0.3s ease-in-out;
            margin: 0;
            &:hover {
                transform: scale(1.05);
            }
        }
        a {
            text-decoration: none;
        }
    }
}