@use "variables" as *;

header {
    position: relative;
    height: 100vh;

    .onecoin {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .coinContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 45%;
                .rank {
                    margin: 0 5px;
                }
                .imageName {
                    display: flex;
                    .name {
                        padding-left: 15px;
                        align-self: center;
                    }
                    .symbol {
                        text-transform: uppercase;
                        align-self: center;
                        padding-left: 5px;
                    }
                    img {
                        width: 100%;
                        height: 40px;
                        object-fit: cover;
                        align-self: center;
                    }
                }
            }
            }
            }

.none {
    display: none;
}

.df {
    display: none;

    canvas {
        width: 95vw;
        height: 90vh;
        margin: 0 auto;
    }
}

.star {
    color: yellow !important;


}

.fa-sharp {
    color: black;
    font-weight: 500 !important;
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }

}