@use "variables" as *;

header {
    position: relative;
    height: 100vh;

    .onecoin {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);

        .coinContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

.none {
    display: none;
}

.df {
    display: none;
}

.star {
    color: yellow !important;


}

.fa-sharp {
    color: black;
    font-weight: 500 !important;
    font-size: 15px;

    &:hover {
        cursor: pointer;
    }

}