// colors
$green: #229a24;
$lightGreen: #4eb750;
$black: #000000;
$white: #ffffff;
$blue: #4287f5;
$yellow: #FFC000;
$red: #db3f3f;
$grey: #D3D3D3;

// fonts
$font: "Inter Tight";
$headingFont: "Merriweather";
$headingFont2: "Montserrat";