@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes blend {
  0% {
    color: #ffffff;
  }
  100% {
    color: #229a24;
  }
}

@keyframes blend {
  0% {
    color: #ffffff;
  }
  100% {
    color: #229a24;
  }
}
@-webkit-keyframes bounce {
  50% {
    transform: translateX(15%);
  }
}
@keyframes bounce {
  50% {
    transform: translateX(15%);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    content: "e.g. ";
  }
}
@keyframes rotate {
  0% {
    content: "e.g. ";
  }
}
@-webkit-keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-300%);
  }
}
.underlineTransition {
  display: inline-block;
  position: relative;
  color: #4287f5;
}
.underlineTransition:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4287f5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underlineTransition:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@font-face {
  font-family: "Inter Tight";
  font-weight: normal;
  src: url("../../fonts/Inter_Tight/static/InterTight-Light.ttf");
}
@font-face {
  font-family: "Merriweather";
  font-weight: normal;
  src: url("../../fonts/Merriweather/Merriweather-Light.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../../fonts/Montserrat/static/Montserrat-Light.ttf");
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter Tight";
  color: #ffffff;
}

h1 {
  font-family: "Montserrat";
  font-size: 10rem;
  color: #ffffff;
  margin: 0;
  letter-spacing: -5px;
}
h1 #green {
  font-weight: bold;
  font-family: "Merriweather";
  letter-spacing: 0px;
}

h2 {
  font-family: "Inter Tight";
  font-size: 2.5rem;
  color: #ffffff;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-family: "Montserrat";
}
h3 #greenNav {
  font-family: "Merriweather";
  color: #229a24;
}
h3 a {
  color: #ffffff;
}

h4 {
  font-size: 3rem;
  margin: 10px 5px;
  letter-spacing: 0.5px;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

label {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

input {
  font-size: 1.5rem;
  font-family: "Inter Tight";
}

select {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Inter Tight";
}

.fa-arrow-left {
  font-size: 2rem;
  align-self: center;
  padding-left: 12px;
  color: #FFC000;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

ul {
  list-style-type: none;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .titleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.landing .titleContainer #green {
  -webkit-animation: blend 0.65s linear 0.5s 1 normal forwards;
          animation: blend 0.65s linear 0.5s 1 normal forwards;
}
.landing .donate {
  display: flex;
  justify-content: center;
}
.landing .donate .donate-arrow {
  -webkit-animation: fade 3.5s ease-in 0s 1 normal forwards, bounce 0.65s linear 5s 2 normal forwards;
          animation: fade 3.5s ease-in 0s 1 normal forwards, bounce 0.65s linear 5s 2 normal forwards;
}
.landing .bars {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  width: 100%;
  position: relative;
}
.landing .bars .searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}
.landing .bars .searchBar form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.landing .bars .searchBar form label {
  padding: 10px 0;
}
.landing .bars .searchBar form input {
  padding: 15px;
  width: 100%;
}
.landing .bars .searchBar form input::-moz-placeholder {
  font-size: 1.5rem;
}
.landing .bars .searchBar form input:-ms-input-placeholder {
  font-size: 1.5rem;
}
.landing .bars .searchBar form input::placeholder {
  font-size: 1.5rem;
}
.landing .bars .searchBar form input:focus {
  outline: none;
  border-left: 0.4rem solid #229a24;
}
.landing .bars .dropDownFilter {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}
.landing .bars .dropDownFilter label {
  padding: 10px 0;
}
.landing .bars .dropDownFilter select {
  padding: 15px;
}
.landing .bars .dropDownFilter select:focus {
  outline: none;
  border-left: 0.4rem solid #229a24;
}
.landing .bars p {
  margin: 0;
  align-self: center;
}
.landing .bars p #or {
  font-size: 3.5rem;
  color: #ffffff;
}

.scrollContainer {
  display: flex;
  width: 100%;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
}
.scrollContainer .animationContainer {
  display: flex;
  width: 100%;
  transform: translateX(0%);
  -webkit-animation: move 120s linear 0.25s infinite alternate;
          animation: move 120s linear 0.25s infinite alternate;
}
.scrollContainer .animationContainer .scrolling {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 0 12px;
  text-align: center;
  width: 100%;
}
.scrollContainer .animationContainer .scrolling .scrollImage {
  display: flex;
  justify-content: center;
}
.scrollContainer .animationContainer .scrolling img {
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
}
.scrollContainer .animationContainer .scrolling p {
  width: auto;
}
.scrollContainer .animationContainer .scrolling .change {
  color: #ffffff;
}
.scrollContainer .animationContainer .scrolling .changeG {
  color: #229a24;
}
.scrollContainer .animationContainer .scrolling .changeG::before {
  content: "▲ ";
}
.scrollContainer .animationContainer .scrolling .changeR {
  color: #db3f3f;
}
.scrollContainer .animationContainer .scrolling .changeR::before {
  content: "▼ ";
}

.modalContainer {
  z-index: 51;
  position: fixed;
  left: 35vw;
  top: 35vh;
  height: 100%;
  overflow: auto;
  display: none;
  transform: scale(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 52;
  width: 30vw;
  background-color: #000000;
  border: 2px solid #229a24;
  position: relative;
  transform: scale(0);
  -webkit-animation: zoomIn 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.7s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal .modalImage {
  display: flex;
  width: 100%;
  justify-content: center;
}
.modal .modalImage img {
  width: 45%;
  padding: 25px 0;
}
.modal button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  position: absolute;
  top: 1%;
  right: 3%;
}
.modal button .fa-xmark {
  font-size: 3rem;
}
.modal .modalContent {
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.835);
  display: none;
  transform: scale(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

nav .desktop {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
nav .desktop .navBars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
nav .desktop .navBars .navSearchBar {
  width: calc(50% - 15px);
}
nav .desktop .navBars .navSearchBar form {
  width: 100%;
  display: flex;
  padding: 0 10px;
}
nav .desktop .navBars .navSearchBar form input {
  padding: 7px;
  width: 100%;
}
nav .desktop .navBars .navDropDownFilter {
  display: flex;
  align-items: center;
  width: calc(50% - 15px);
}
nav .desktop .navBars .navDropDownFilter label {
  padding: 0 5px;
}
nav .desktop .navBars .navDropDownFilter select {
  width: 100%;
  padding: 7px;
}
nav .desktop .navBars #or {
  margin: 0 5px;
}
nav .desktop h3 {
  transition: all 0.3s ease-in-out;
  margin: 0;
}
nav .desktop h3:hover {
  transform: scale(1.05);
}
nav .desktop a {
  text-decoration: none;
}

header {
  position: relative;
  height: 93.5vh;
}
header .onecoin {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .onecoin .coinContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
header .onecoin .coinContainer .rank {
  margin: 0 5px;
}
header .onecoin .coinContainer .imageName {
  display: flex;
}
header .onecoin .coinContainer .imageName .name {
  padding-left: 15px;
  align-self: center;
}
header .onecoin .coinContainer .imageName .symbol {
  text-transform: uppercase;
  align-self: center;
  padding-left: 5px;
}
header .onecoin .coinContainer .imageName img {
  width: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: center;
}

.none {
  display: none;
}

.df {
  display: none;
  position: relative;
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
}

.star {
  color: yellow !important;
}

.fa-sharp {
  color: black;
  font-weight: 500 !important;
  font-size: 15px;
}
.fa-sharp:hover {
  cursor: pointer;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #eee;
  flex: 1 1 auto;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
table thead {
  display: table-header-group;
}
table thead tr {
  vertical-align: inherit;
  border-color: inherit;
}
table td {
  overflow: hidden;
  height: 3.5vh;
  white-space: nowrap;
}
table td img {
  width: 15px;
  height: auto;
  margin: 0 7px;
}
table td .symbolTable {
  padding-left: 5px;
  text-transform: uppercase;
}
table .tableAlign {
  display: flex;
  align-items: center;
}
table .change {
  color: #ffffff;
}
table .changeG {
  color: #229a24;
}
table .changeG::before {
  content: "▲ ";
}
table .changeR {
  color: #db3f3f;
}
table .changeR::before {
  content: "▼ ";
}

footer {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 5px 0;
  height: 4vh;
}
footer p {
  color: #D3D3D3;
  line-height: 0px;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */